@media screen and (min-width: 0) {
    /* General background color */
    body {
        background-color: whitesmoke;
    }

    /*
        Don't display table captions, we have them only for better
        accessibility support.
     */
    table caption {
        display: none;
    }

    .board-right-hand-side-section {
        margin-bottom: 2em;
    }
    .board-right-hand-side-subsection {
        margin-bottom: 1em;
    }

    .board-player-info {
        padding: 0.5em;
    }

    #board-player-info-black {
        background-color: black;
        /* "Black 3D" gradient from http://www.colorzilla.com/gradient-editor/ */
        background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
        color: white;
    }

    #board-player-info-white {
        background-color: white;
        /* "White 3D" gradient from http://www.colorzilla.com/gradient-editor/ */
        background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
        border: solid black thin;
        color: black;
    }

    #board-komi {
        text-align: right;
    }

    #container-login-form, #container-registration-form
    {
        /* Vertically offset from browser window top */
        margin-top: 5%;
    }

    nav {
        /* Small gap between navigation bar and main content */
        margin-bottom: 1em;
    }

    .data-placeholder {
        /*
            The placeholder is a table cell with colspan="n". We want the
            text to be displayed across all columns.
         */
        text-align: center;
    }

    #container-board {
        position: relative;
        /* Make the board container square. */
        width: 100%;
        padding-top: 100%;
        /* Horizontally center the container within its parent */
        margin: auto;
    }

    #board {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url(../image/wooden-background-tile.png);
    }
}
