@media screen and (min-width: 0) {
    /* General background color */
    body {
        background-color: whitesmoke;
    }

    /*
        Don't display table captions, we have them only for better
        accessibility support.
     */
    table caption {
        display: none;
    }

    .game-in-progress-this-player {
    }
    .game-in-progress-active-player {
        text-decoration: underline;
    }

    .finished-game-this-player {
    }
    .finished-game-winning-player {
        text-decoration: underline;
    }

    .board-right-hand-side-section {
        margin-bottom: 2em;
    }
    .board-right-hand-side-subsection {
        margin-bottom: 1em;
    }

    .board-player-info {
        padding: 0.5em;
    }

    #board-player-info-black {
        background-color: black;
        /* "Black 3D" gradient from http://www.colorzilla.com/gradient-editor/ */
        background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
        color: white;
    }

    #board-player-info-white {
        background-color: white;
        /* "White 3D" gradient from http://www.colorzilla.com/gradient-editor/ */
        background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
        border: solid black thin;
        color: black;
    }

    #board-komi {
        text-align: right;
    }

    #scoringDataTable th, #scoringDataTable td {
        text-align: center;
    }

    .scoringDataTotalRow {
        font-weight: bold;
    }

    #container-login-form, #container-registration-form, #container-logout-message
    {
        /* Vertically offset from browser window top */
        margin-top: 5%;
    }

    nav {
        /* Small gap between navigation bar and main content */
        margin-bottom: 1em;
    }

    .data-placeholder {
        /*
            The placeholder is a table cell with colspan="n". We want the
            text to be displayed across all columns.
         */
        text-align: center;
    }

    .error-message {
        color: red;
    }

    #board-left-hand-side {
        /*
            Same margin as the nav element's bottom margin.
            - If the left-hand-side and the right-hand-side are shown
              vertically stacked, this will create a margin between
              them.
            - If the left-hand-side and the right-hand-side are shown
              side-by-side, this has no effect. It's the board canvas
              size calculation's job to make sure that the left-hand-side
              does not touch the bottom window border.
         */
        margin-bottom: 1em;
    }

    #board {
        background-image: url(../image/wooden-background-tile.png);
    }

    /*
        The following code was shamelessly stolen from
        https://www.w3schools.com/howto/howto_css_loader.asp
     */
    .loader {
        display: inline-block;
        border: 0.3em solid #f3f3f3;
        border-radius: 50%;
        border-top: 0.3em solid #3498db;
        border-bottom: 0.3em solid #3498db;
        width: 3em;
        height: 3em;
        -webkit-animation: spin 1s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
    }
    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}
